<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogLevel="Warn"
        internalLogFile="c:\temp\internal.txt">


    <extensions>
        <!--enable NLog.Web for ASP.NET Core-->
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- define various log targets -->
    <targets>
        <!-- write logs to file -->
        <target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all-${shortdate}.log"
                        layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
		
		        <target xsi:type="File" name="exceptions" fileName="c:\temp\nlog-exceptions-${shortdate}.log"
                        layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

		<target xsi:type="File" name="request-time" fileName="c:\temp\request-time.log"
		layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />


    </targets>

    <rules>
        <!--All logs, including from Microsoft-->
        <logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="RestaurantApp.*" minlevel="Error" writeTo="exceptions" />
		<logger name="RestaurantApp.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request-time" />

    </rules>
</nlog>